/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* fonts */

/* Inter and Playfair Display obtained from Google Fonts */

@font-face {
  font-family: 'inter';
  src: url('Inter-Bold.eot');
  src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff'),
    url('Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lora';
  src: url('Lora-Regular.eot');
  src: url('Lora-Regular.eot?#iefix') format('embedded-opentype'),
    url('Lora-Regular.woff2') format('woff2'),
    url('Lora-Regular.woff') format('woff'),
    url('Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: lora, serif;
  font-size: 10px;
}

h1,
h2 {
  font-family: inter, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.4;
  letter-spacing: 0.5px;
}

section h2+p {
  text-indent: 20px;
}

/* Links */

a:link,
a:visited {
  color: brown
}

a:focus,
a:hover {
  /*Since the links are already underlined, just set the decoration to none*/
  text-decoration: none;
}

a:active {
  text-shadow: 1px 1px 2px
}

a[href*="http"] {
  padding-right: 10px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 10px 10px
}

a {
  outline: none;
}

/* Lists */
ul,
ol {
  margin: 1.5rem;
  list-style-type: disc;
}

/* Navigation Menu */

nav ul {
  padding-left: 0;
}

nav li {
  list-style-type: none;
  margin-bottom: 3rem;
}

nav li a {
  border: 1.5px solid darkred;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 2.5;
  text-align: center;
}

nav li a:focus,
nav li a:hover {
  color: white;
  background: darksalmon;
}

nav li a:active {
  color: white;
  background: darkred;
}