/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* fonts */

/* Inter and Playfair Display obtained from Google Fonts */

@font-face {
  font-family: 'inter';
  src: url('Inter-Bold.eot');
  src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('Inter-Bold.woff2') format('woff2'),
      url('Inter-Bold.woff') format('woff'),
      url('Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lora';
  src: url('Lora-Regular.eot');
  src: url('Lora-Regular.eot?#iefix') format('embedded-opentype'),
      url('Lora-Regular.woff2') format('woff2'),
      url('Lora-Regular.woff') format('woff'),
      url('Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: lora, serif;
}

h1, h2 {
  font-family: inter, sans-serif;
}